<div class="footer">
    <div class="logo">
        <img src="/images/logo.png" alt="logo">
    </div>
    <div class="footer-content">
        <h2>Nhóm X - IT4735</h2>
        <p>Nguyễn Ngọc Hưng - 2018xxxx</p>
        <p>Nguyễn Tiến Anh - 2018xxxx</p>
        <p>Bùi Trọng Huy - 2018xxxx</p>
    </div>
</div>