<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); -%>
        <link rel="stylesheet" href="/css/components/header.css">
        <link rel="stylesheet" href="/css/components/footer.css">
        <link rel="stylesheet" href="/css/components/button.css">
        <!-- links -->
    </head>
    <body>
        <%- include('../components/header', {isHideLoginBtn: false, isLoggin: true}) -%>
        <!-- content -->
        
        <%- include('../components/footer') -%>
    </body>
</html>