<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); -%>
        <link rel="stylesheet" href="/css/components/header.css">
        <link rel="stylesheet" href="/css/components/footer.css">
        <link rel="stylesheet" href="/css/components/button.css">
        <link rel="stylesheet" href="/css/pages/landing-page.css">
    </head>
    <body>
        <%- include('../components/header', {isHideLoginBtn: false, isLoggin: isLoggin, name: name}) -%>
        <div class="cover">
            <div class="cover-title-1">ỨNG DỤNG ĐIỀU KHIỂN THIẾT BỊ</div>
            <div class="cover-title-2">VÀ GIÁM SÁT NHIỆT ĐỘ, ĐỘ ẨM MÔI TRƯỜNG</div>
            <div class="cover-title-3">SMART CONTROL</div>
            <% if(isLoggin) { %>
                <a href="/dashboard" class="btn btn-dashboard">Tới trang điều khiển</a>
            <% } %>
        </div>
        <%- include('../components/footer') -%>
    </body>
</html>