<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); -%>
        <link rel="stylesheet" href="/css/components/header.css">
        <link rel="stylesheet" href="/css/components/footer.css">
        <link rel="stylesheet" href="/css/components/button.css">
        <link rel="stylesheet" href="/css/pages/landing-page.css">
    </head>
    <body>
        <%- include('../components/header') -%>
        <div class="cover"></div>
        <%- include('../components/footer') -%>
    </body>
</html>