<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head'); -%>
        <link rel="stylesheet" href="/css/components/header.css">
        <link rel="stylesheet" href="/css/components/footer.css">
        <link rel="stylesheet" href="/css/components/button.css">
        <link rel="stylesheet" href="/css/pages/topic-page.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://cdn.socket.io/3.1.1/socket.io.min.js"
            integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO"
            crossorigin="anonymous"></script>
        <script>
            const socket = io("http://localhost:8080/");
        </script>
        
</head>

<body>
    <%- include('../components/header', {isHideLoginBtn: false, isLoggin: true, name: name}) -%>
        <div class="topics-container">
            <!-- content -->

            <h2>Biệt thự Đà Lạt</h2>

            <div class="temp-humid">
                <div class="charts">
                    <div class="chart-temp" id="temp"></div>
                    <div class="chart-humid" id="humid"></div>
                </div>
                <div class="current-data">
                    <div class="temp-data">
                        <i class="fas fa-thermometer-three-quarters"></i>
                        Nhiệt độ: <span id="temp-data"></span> °C
                    </div>
                    <div class="humid-data">
                        <i class="fas fa-tint"></i>
                        Độ ẩm: <span id="humid-data"></span> %
                    </div>
                </div>
            </div>

            <div class="devices">
                <div class="device active">
                    <div class="status"></div>
                    <div class="device-name">Đèn phòng khách</div>
                    <div class="status-text">ON</div>
                    <label class="switch">
                        <input type="checkbox" checked onclick="toggleStatus(this)">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="device">
                    <div class="status"></div>
                    <div class="device-name">Đèn phòng ngủ</div>
                    <div class="status-text">OFF</div>
                    <label class="switch">
                        <input type="checkbox" onclick="toggleStatus(this)">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="device active">
                    <div class="status"></div>
                    <div class="device-name">Đèn phòng ăn</div>
                    <div class="status-text">ON</div>
                    <label class="switch">
                        <input type="checkbox" checked onclick="toggleStatus(this)">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="device">
                    <div class="status"></div>
                    <div class="device-name">Đèn phòng tắm</div>
                    <div class="status-text">OFF</div>
                    <label class="switch">
                        <input type="checkbox" onclick="toggleStatus(this)">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

        </div>
        <%- include('../components/footer') -%>
            <script src="/js/topic.js"></script>
</body>

</html>