<div class="footer">
    <div class="logo">
        <img src="/images/logo.png" alt="logo">
    </div>
    <div class="footer-content">
        <h2>SCS Team - IoT và ứng dụng 20211</h2>
        <p>Nguyễn Ngọc Hưng - 20183759</p>
        <p>Bùi Trọng Huy - 20183765</p>
    <p>Nguyễn Tiến Anh - 20183684</p>
    </div>
</div>