.header{
    position: relative;
}

.topics-container{
    height: fit-content;
    padding: 50px 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topics-container h2{
    color: #6C6C6C;
    margin-bottom: 50px;
    font-size: 180%;
}

.topics{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.topics>*{
    height: 100px;
    margin: 10px 0;
    border: 1px solid #aaa;
    box-shadow: 2px 2px 6px #aaa;
    text-decoration: none;
    color: black;
}
.topic *{
    pointer-events: none;
}
.topic:hover{    
    transform: scale(1.05);
    transition: .4s;
    background-color: #FFB13C;
}
.topic:hover .data .temp, 
.topic:hover .data .humid,
.topic:hover .name
{
    color: white;
}
.topic.active:hover{    
    background-color: #166cbd;
}

.topic:active{
    filter: brightness(0.8);
}

.topic .stt{
    position: absolute;
    width: 20px;
    height: 100px;
    box-sizing: border-box;
    background-color: #FFB13C;
}

.topic.active .stt{
    background-color: #166cbd;
}

.topic .name{
    margin-left: 50px;
    margin-top: 15px;
    font-size: 120%;
    font-weight: bold;
}
.topic .data{
    width: 200px;
    height: 30px;
    margin-top: 10px;
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.data .temp, .humid{
    width: 50%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 110%;
    flex-shrink: 0;
    color: #8C8C8C;
}
.data i{
    margin-right: 8px;
}

@media only screen and (max-width: 900px){
    .topics-container{
        padding: 50px 30px;
    }
}
